.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 120px;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 20px;
  padding: 15px;
  /* border: 1px solid var(--color-bg-secondary); */
  border-radius: 10px;
  color: var(--color-text-primary);
  box-shadow: -1px -1px 7px var(--color-bg-secondary-light),
    -1px 1px 7px var(--color-bg-secondary-light),
    1px 1px 7px var(--color-bg-secondary-light),
    1px -1px 7px var(--color-bg-secondary-light);
  /* background:linear-gradient(90deg, var(--color-bg-secondary) 0%, rgba(174, 103, 250, 0.692) 40%, rgba(255, 132, 113, 0.692) 100%); */
}
.service-icon {
  font-size: 2.5em;
  line-height: 1.5em;
  background: linear-gradient(
    90deg,
    rgba(174, 103, 250, 1) 0%,
    rgba(255, 132, 113, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.service-name {
  font-size: 1.5em;
  line-height: 2em;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.service-text {
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .services-section {
    padding: 100px 15px;
  }
}
