.section-header {
  /* max-width: 768px; */
    max-width: 1080px;
}
  
.section-header-center {
  max-width: 1080px;
  text-align: center;
  /* border: 1px solid white; */
}
.title {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 5px;
  color: var(--color-text-tertiary);
}
.subtitle {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 20px 0px;
  /* color: var(--color-text-primary); */
}
.note {
  font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
  color: var(--color-text-gray);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1em;
  }
  .subtitle {
    font-size: 1.2em;
    margin: 10px 0px;
  }
  .note {
    font-size: .9em;
  }
}
